// sm
@media screen and (min-width:'375px') {
    .homeWarehouse{
        .container{
            background-color: #2f2d2e;
        }
    }
    .logo img{
        width: 200px;
    }
}
// md
@media screen and (min-width:'768px') {
    .homeWarehouse{
        .container{
            background-color: #2f2d2e;
            padding: unset;
        }
    }
    .homeWarehouse{
        .bg-img{
            background-repeat: no-repeat;

        }
    }
    .logo img{
        width: 240px;
    }
}
@media screen and (min-width:'768px') and (orientation: portrait){
    
}
@media screen and (min-width:'768px') and (orientation: landscape){
    
}
// lg
@media screen and (min-width:"1024px") {
    // .header{
    //     .logo{
    //         img{
    //             width:440px;
    //         }
    //     }
    // }
    .homeWarehouse{
        .container{
            padding-left: 10rem;
            padding-right: 10rem;
        }
        .bg-img{
            // background-image: 'url("./img/005.jpg")';
            background-repeat: no-repeat;
        }
    }
    .logo img{
        width: 240px;
    }
}

// xl
@media screen and (min-width:"1280px") {
    .homeWarehouse{
        .container{ 
            background-color: unset;
            width: revert;
        }
    }
}

// 2xl
@media screen and (min-width:"1536px") {

}
.menu-item{
    height: auto;
    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}
.menu-item.active{
    height: 100%;
    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}
.menu-item.active svg{
    transform: rotate(135deg);
}
.menu-item .sub-menu{
    margin-left: 16px;
    height: 0;
    visibility: hidden;
    
}
.menu-item .sub-menu li{
    padding: 0.5rem 0;
}
.menu-item .sub-menu.open{
    visibility: visible;
    height: 100%;
}
.border-white-orange{
    position: relative;
}
.border-white-orange:before{
    content: '';
    position: absolute;
    background: white;
    height: 4px;
    width: 50%;
    left: 0;
}
.transportation-routes .item{
    position: relative;
}
.transportation-routes .item:not(:last-child):after{
    content: " ";
    position: absolute;
    display: flex;
    align-items: center;
    top: 35%;
    right: 0;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid orange;

}
.arrow-right{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.arrow-right:after{
    content: " ";
    position: absolute;
    display: flex;
    align-items: center;
    top: 4.3rem;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid orange;
}